.bg-black{
    background-color: #0D0C0C;
    height: 90px;
    border-bottom: 1px solid #cccaca;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1260px;
    width: 100%;
    margin: auto;
}
.nav-wrapper{    
    display: flex;
    align-items: center;
    height: 100%;
}
.nav-wrapper .menu{
    display: flex;   
    align-items: center;
    padding: 0;
}
.nav-wrapper .menu li{
    padding: 15px 10px;
    list-style: none;
}
.nav-wrapper .menu li a{
    color: #FFFBFB;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;   
    white-space: nowrap;
    display: block;
}
.show{
    display: block!important;
}
.toggle{
    display: none;    
    margin: 0 30px;
}
.toggle span{
    display: block;
    width: 40px;
    height: 3px;
    background-color: aqua;
    margin: 10px 0;
}
@media screen and (max-width: 768px){ 
    .bg-black {        
        position: fixed;
        top: 0;
        background: #000;
        z-index: 200;
        width: 100%;
    }  
    .toggle{
        display: block;    
        margin: 0 30px;
    }
    .nav-wrapper{
        position: absolute;
        top: 90px;
        left: 0;
        z-index: 10;
        width: 100%;
        text-align: center;
        height: auto;
        background-color: black;
        display: none;
    }
    .nav-wrapper .menu{        
        flex-direction: column;
        width: 100%;
    }
    .nav-wrapper .menu a.btnOrcamento {
        margin: 0 0 20px 0;
    }
}