.bg-black{
    background-color: #0D0C0C;
    height: 90px;
    border-bottom: 1px solid #cccaca;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1260px;
    width: 100%;
    margin: auto;
}
.nav-wrapper{    
    display: flex;
    align-items: center;
    height: 100%;
}
.nav-wrapper .menu{
    display: flex;   
    align-items: center;
    padding: 0;
}
.nav-wrapper .menu li{
    padding: 15px 10px;
    list-style: none;
}
.nav-wrapper .menu li a{
    color: #FFFBFB;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;   
    white-space: nowrap;
    display: block;
}

